<html>
<head>
    <title>
        Registration Page
    </title>
<body>
    <table align="center">
        <tr align="center">
            <td>
            </td>
        </tr>
        <tr align="center">
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <form action="../controller/reg_check.php" method="post">
                    <fieldset>
                        <legend align="center">Registration</legend>
                        <table align="center">
                            <tr>
                                <td>
                                    <table align="center">
                                        <tr>
                                            <td>Employee Name <br>
                                                <input type="text" name="ename" value="" id="ename_id" required>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Company Name <br>
                                                <input type="text" name="cname" value="" id="cname_id" required>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Contact No <br>
                                                <input type="text" name="contact" value="" id="contact_id" required>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Username <br>
                                                <input type="text" name="uname" value="" id="uname_id" required
                                                    onkeyup="check_name1(event)">
                                                <br>
                                                <p id="check_name" style="display:none; color:red">Username cannot be
                                                    empty</p>
                                            </td>
                                        </tr>



                                        <tr>
                                            <td>Passoword <br>
                                                <input type="password" name="password" value="" id="pass_id" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Confirm Passoword <br>
                                                <input type="password" name="confirm_password" value="" id="con_pass_id"
                                                    required>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <input type="submit" name="signup" value="Sign Up">
                                    <a href="signin.html">Sign In</a>
                                </td>

                            </tr>
                        </table>
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
    </table>
<!--    <h1 id="change_ajax">hello</h1>--> 

<!--   <script src="../asset/js/sign_up_js.js"></script> -->
</body>
</head>
</html>