<html>
<head>
    <title>
        Sign In Page
    </title>
<body>
    <table align="center">
        <tr>
            <td>
                <form action="../controller/login_check.php" method="post">
                    <fieldset>
                        <legend align="center">Sign In</legend>
                        <table align="center">
                            <tr>
                                <td>
                                    <table align="center">
                                        <tr>
                                            <td>Username <br>
                                                <input type="text" name="uname" value="" id="uname_id" required>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Passoword <br>
                                                <input type="password" name="password" value="" id="pass_id" required>
                                            </td>
                                        </tr>


                                        <tr align="center">
                                            <td>
                                                <input type="submit" name="signin" value="Sign In" <input type="reset"
                                                    name="reset" value="Reset">
                                                <a href="signup.html">Sign Up</a>
                                            </td>

                                        </tr>
                                    </table>
                    </fieldset>
                </form>
            </td>
        </tr>
    </table>
<!--    <h1 id="change_ajax">hello</h1>   -->
</body>
</head>
</html>